<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">
<!--    一个可以实例化的可重复的组件-->
    <bean id="myService2Impl" class="com.lanqiao.demo.MyService2"></bean>
    <bean id="myServiceImpl" class="com.lanqiao.demo.MyServiceImpl"></bean>



    <bean id="a3" class="com.lanqiao.demo1.A3"> </bean>
    <bean id="a4" class="com.lanqiao.demo1.A4"> </bean>
    <bean id="black" class="com.lanqiao.demo1.BlackBox"></bean>
    <bean id="color" class="com.lanqiao.demo1.ColorBox"></bean>
<!--  构造器注入  -->
    <bean id="printer" class="com.lanqiao.demo1.Printer">
        <constructor-arg index="0" ref="a3"/>
        <constructor-arg index="1" ref="color"/>

    </bean>

<!--   set方法注入-->
    <bean id="printer2" class="com.lanqiao.demo1.Printer">
        <property name="paper" ref="a4"></property>
        <property name="ink" ref="black"></property>
    </bean>
<!--    数组、列表、Map 以set方式注入-->
    <bean id="printer3" class="com.lanqiao.demo1.Printer">
        <property name="paper" ref="a4"></property>
        <property name="ink" ref="black"></property>
        <property name="company">
            <array>
                <value>小米</value>
                <value>华为</value>
                <value>vivo</value>
            </array>
        </property>
        <property name="addres">
            <list>
                <value>北京</value>
                <value>天津</value>
                <value>上海</value>
            </list>
        </property>
        <property name="proxy">
            <map>
                <entry key="北京" value="张三"></entry>
                <entry key="天津" value="李四"></entry>
                <entry key="上海" value="王五"></entry>
            </map>
        </property>
    </bean>

</beans>